*{
    margin: 0;
    padding: 0;
}
html,body{
    width:100%;
    height:100%;
    overflow:hidden;
}
.startPage{
    width:100%;
    z-index: 999;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
}
.startBtn{
    background-image: url('img/startGame.png');
    height: 170px;
    width: 200px;
    background-size: 100% 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
}
.wrapper{
    width: 100%;
    height: 800px;
    background-image: url('img/bg.jpg');
    background-size: 100% 100%;
    position: relative;
}
.left-side{
    width: 24%;
    position: absolute;
    height: 800px;
    /* border-right: 1px solid black;  */
}
.left-side img{
    display: none;
    margin-left: 200px;
    margin-top: 150px;
    width: 80px;
}
.main{
    position: absolute;
    left: 25%;
    width: 50%;
    height: 100%;
    /* border: 1px solid purple; */
}
.header{
    width: 100%;
    height: 80px;
    text-align: center;

}
.score{
    margin-top: 100px;
    line-height: 80px;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
}
.content{
    position: absolute;
    width: 72%;
    height: 33%;
    left: 16%;
    top: 33%;
    /* border: 1px solid rebeccapurple; */
}
.loser{
    display: none;
    position: 100%;
    height: 800px;
    top:0;
    left: 0;

}
.con{
    background-image: url('img/startP.png');
    background-size: 100% 100%;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    border-radius: 20px;
}
.loserScore{
    display: block;
    height: 30px;
    width: 40px;
    position: absolute;
    top:42%;
    left: 40%;
    color: #222;
    font-size: 30px;
    font-weight: bolder;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background-image: url(img/closeBtn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.food{
    background-image: url('img/xigua.png');
    background-size: 100% 100%;
}
.head{
    background-image: url('img/head.png');
    background-size: 100% 100%;
}
.body{
    background-image: url('img/body.png');
    background-size: 100% 100%;
}
